#product-page{
    padding-top: 7%;
    height: fit-content;
   
        color: #FFFFFF;
        .menu{
            .menu-item{
                display: flex;
                justify-content: space-between;
                align-items: center;
             
            }
        }

    
}