#contact-section{
    height: fit-content;
    .contact-main{
        display: flex;
        justify-content: space-between;
        align-items: start;
        .contact-left{
            width: 48%;
            img{
                width: 100%;
                border-radius: 20px;
                object-fit: cover;
            }
        }
        .contact-right{
            width: 40%;
            h1{
                margin: 0;
                padding: 0 10px 10px 10px ;
                font-size: 35px;
            }
            form{
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: column;
                gap: 20px;
                input{
                    width: 100%;
                    padding: 10px;
                    height: 30px;
                    font-size: 20px;
                    outline: none;
                    border: none;
                    border-bottom: 1px solid black;
                    background-color: transparent;
                    &::placeholder{
                        color: gray;
                    }
                }
                textarea{
                    width: 100%;
                    padding: 10px;
                    height: 50px;
                    resize: none;
                    font-size: 20px;
                    outline: none;
                    border: none;
                    border-bottom: 1px solid black;
                    background-color: transparent;
                    &::placeholder{
                        color: gray;
                    }
                }

                button{
                    --😀: #644dff;
                    --😀😀: #4836bb;
                    --😀😀😀: #654dff63;
                    cursor: pointer;
                    width: 184px;
                    height: 48px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 1rem;
                    font-size: 1.125em;
                    font-weight: 800;
                    letter-spacing: 2px;
                    color: #fff;
                    background: var(--😀);
                    border: 2px solid var(--😀😀);
                    border-radius: .75rem;
                    box-shadow: 0 8px 0 var(--😀😀);
                    transform: skew(-10deg);
                    transition: all .1s ease;
                    filter: drop-shadow(0 15px 20px var(--😀😀😀));
                }
                button:active {
                    letter-spacing: 0px;
                    transform: skew(-10deg) translateY(8px);
                    box-shadow: 0 0 0 var(--😀😀😀);
                  }
            }
        }
    }
}