@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
:root {
  --bold-font: "Poppins", serif;
  --slim-font: "Lato", serif;
  --main-color:#FBF8DD;
  --primary-color:#121212;
  --secondary-color:#8B322C;
}

.container {
  width: 95%;
  margin: auto;
}

section {
  height: 100vh;
}

body {
  background-color: var(--main-color);
  font-family: var(--bold-font);
}

.non-container {
  width: 95%;
  margin: auto;
}

.insidebtn {
  padding: 10px;
}
.insidebtn button {
  font-size: 20px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  border-radius: 20px;
}
.insidebtn button:hover {
  transform: scale(1.1);
  background-color: var(--primary-color);
  transition: 350ms ease-in-out;
}

.banner-title h1 {
  font-size: 3rem;
  margin: 0px;
  padding: 20px;
  font-family: var(--bold-font);
  padding-bottom: 0;
}

#banner {
  padding-top: 5%;
  margin: 0 10px;
}
#banner .banner-title h1 {
  font-size: 3rem;
  margin: 0px;
  padding: 20px;
  font-family: var(--bold-font);
  padding-bottom: 0;
}
#banner .banner-main {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-top: 10px;
}
#banner .banner-main .banner-left {
  width: 50%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  padding: 30px 10px 50px 10px;
}
#banner .banner-main .banner-left .title h1 {
  margin: 0;
  padding: 20px;
  font-size: 2.2rem;
  font-family: var(--bold-font);
  font-weight: 600;
  padding-top: 0;
}
#banner .banner-main .banner-left .des p {
  margin: 0;
  padding: 20px;
  padding-top: 0;
  font-size: 17px;
  font-family: var(--slim-font);
  font-weight: 500;
  color: rgb(109, 108, 108);
}
#banner .banner-main .banner-left .des .insidebtn {
  padding: 10px;
}
#banner .banner-main .banner-left .des .insidebtn button {
  font-size: 20px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  border-radius: 20px;
}
#banner .banner-main .banner-left .des .insidebtn button:hover {
  transform: scale(1.1);
  background-color: var(--primary-color);
  transition: 350ms ease-in-out;
}
#banner .banner-main .banner-right {
  width: 45%;
}
#banner .banner-main .banner-right .img {
  text-align: center;
  margin: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
}
#banner .banner-main .banner-right .img img {
  border-radius: 20px;
  width: 100%;
  height: 500px;
  object-fit: cover;
}
#banner .banner-main .banner-right .img .slides-btn button {
  display: none;
}
#banner .banner-main .banner-right .dots-container {
  text-align: center;
  margin-top: 10px;
}
#banner .banner-main .banner-right .dots-container .dot {
  width: 12px;
  height: 12px;
  margin: 5px;
  background: #bbb;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}
#banner .banner-main .banner-right .dots-container .dot.active {
  background: #222;
}
#banner .banner-main .right-side {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  gap: 25px;
  text-align: start;
}
#banner .banner-main .right-side .detail {
  cursor: pointer;
  background-color: white;
  box-shadow: 3px 3px 3px 3px var(--primary-color);
  border: 1px solid var(--primary-color);
  padding: 0px 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 250px;
  z-index: 1;
}
#banner .banner-main .right-side .detail:hover {
  transform: scale(1.1);
  rotate: -5deg;
  transition: 300ms ease-in-out;
}
#banner .banner-main .right-side .detail icon {
  font-size: 2.2rem;
  margin-left: 50px;
  margin: 5px;
}
#banner .banner-main .right-side .detail h1 {
  margin: 0;
}
#banner .banner-main .right-side .detail p {
  width: 90%;
  margin: 0;
}
#banner .banner-main .right-side .details:hover {
  rotate: 5deg;
}

@media screen and (max-width: 768px) {
  #banner {
    padding-top: 20%;
    height: fit-content;
    z-index: 1;
  }
  #banner .banner-title h1 {
    font-size: 2.5rem;
    padding-left: 0;
  }
  #banner .banner-main {
    flex-direction: column;
  }
  #banner .banner-main .banner-left {
    padding-bottom: 20px;
    width: 92%;
  }
  #banner .banner-main .banner-left .title h1 {
    font-size: 1.7rem;
  }
  #banner .banner-main .banner-left .des p {
    font-size: 1rem;
  }
  #banner .banner-main .banner-right {
    width: 100%;
  }
  #banner .banner-main .banner-right .img {
    width: 100%;
    flex-direction: column-reverse;
    margin: 0;
  }
  #banner .banner-main .banner-right .img img {
    width: 100%;
    height: 400px;
  }
  #banner .banner-main .right-side {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }
  #banner .banner-main .right-side .detail {
    width: 120px;
  }
  #banner .banner-main .right-side .detail icon {
    font-size: 1.5rem;
  }
  #banner .banner-main .right-side .detail h1 {
    font-size: 16px;
  }
  #banner .banner-main .right-side .detail p {
    font-size: 14px;
  }
}
#contact-section {
  height: fit-content;
}
#contact-section .contact-main {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
#contact-section .contact-main .contact-left {
  width: 48%;
}
#contact-section .contact-main .contact-left img {
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
}
#contact-section .contact-main .contact-right {
  width: 40%;
}
#contact-section .contact-main .contact-right h1 {
  margin: 0;
  padding: 0 10px 10px 10px;
  font-size: 35px;
}
#contact-section .contact-main .contact-right form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
}
#contact-section .contact-main .contact-right form input {
  width: 100%;
  padding: 10px;
  height: 30px;
  font-size: 20px;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  background-color: transparent;
}
#contact-section .contact-main .contact-right form input::placeholder {
  color: gray;
}
#contact-section .contact-main .contact-right form textarea {
  width: 100%;
  padding: 10px;
  height: 50px;
  resize: none;
  font-size: 20px;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  background-color: transparent;
}
#contact-section .contact-main .contact-right form textarea::placeholder {
  color: gray;
}
#contact-section .contact-main .contact-right form button {
  --😀: #644dff;
  --😀😀: #4836bb;
  --😀😀😀: #654dff63;
  cursor: pointer;
  width: 184px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1.125em;
  font-weight: 800;
  letter-spacing: 2px;
  color: #fff;
  background: var(--😀);
  border: 2px solid var(--😀😀);
  border-radius: 0.75rem;
  box-shadow: 0 8px 0 var(--😀😀);
  transform: skew(-10deg);
  transition: all 0.1s ease;
  filter: drop-shadow(0 15px 20px var(--😀😀😀));
}
#contact-section .contact-main .contact-right form button:active {
  letter-spacing: 0px;
  transform: skew(-10deg) translateY(8px);
  box-shadow: 0 0 0 var(--😀😀😀);
}

#menu {
  padding-top: 20px;
  height: fit-content;
}
#menu .menu-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
#menu .menu-main .menu-card {
  width: 250px;
  background-color: #FFF;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.749);
  border-radius: 20px;
  padding: 20px 30px;
  margin-top: 50px;
}
#menu .menu-main .menu-card img {
  width: 100%;
  height: 200px;
  border-radius: 20px;
  object-fit: cover;
}
#menu .menu-main .menu-card .bottom-part .bottom-title h1 {
  margin: 0;
  padding: 5px;
  font-size: 1.3em;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
#menu .menu-main .menu-card .bottom-part .bottom-title h1 span {
  font-size: 23px;
  font-weight: 600;
  color: var(--secondary-color);
}
#menu .menu-main .menu-card .bottom-part .detail .cup-size {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 17px;
  padding-bottom: 15px;
}
#menu .menu-main .menu-card .bottom-part .detail .cup-size p {
  margin: 0px;
}
#menu .menu-main .menu-card .bottom-part .detail .cup-size input {
  cursor: pointer;
  width: 13px;
  height: 1em;
  border-radius: 50%;
  transition: 0.4s ease-in-out;
  font-size: 20px;
}
#menu .menu-main .menu-card .bottom-part .detail .cup-size form {
  display: flex;
  align-items: center;
  gap: 6px;
}
#menu .menu-main .menu-card .bottom-part .detail .quantity form {
  display: flex;
  align-items: center;
  gap: 5px;
}
#menu .menu-main .menu-card .bottom-part .detail .quantity form input {
  width: 30%;
  outline: none;
  cursor: pointer;
}
#menu .menu-main .menu-card .bottom-part .detail .menu-btn {
  width: calc(100% - 60px);
}
#menu .menu-main .menu-card .bottom-part .detail .menu-btn button {
  width: 100%;
}

@media screen and (max-width: 768px) {
  #menu .menu-main .menu-card {
    width: 100%;
  }
  #menu .menu-main .menu-card .bottom-part .detail .cup-size {
    font-size: 20px;
  }
  #menu .menu-main .menu-card .bottom-part .detail .cup-size input {
    width: 17px;
  }
  #menu .menu-main .menu-card .bottom-part .detail .quantity {
    width: 100%;
  }
  #menu .menu-main .menu-card .bottom-part .detail .quantity form {
    font-size: 20px;
    margin-top: 10px;
  }
  #menu .menu-main .menu-card .bottom-part .detail .quantity form input {
    border: 1px solid black;
  }
  #menu .menu-main .menu-card .bottom-part .menu-btn {
    text-align: center;
  }
  #menu .menu-main .menu-card .bottom-part .menu-btn button {
    width: 100%;
    justify-content: space-around;
  }
}
#about {
  height: 70vh;
  margin-top: 7px;
}
#about .about-main {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
#about .about-main .about-left {
  width: 50%;
}
#about .about-main .about-left img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 20px;
  filter: grayscale(1);
  cursor: pointer;
}
#about .about-main .about-left img:hover {
  filter: grayscale(0);
  transition: 300ms ease-in-out;
}
#about .about-main .about-right {
  width: 48%;
  padding: 10px 20px;
}
#about .about-main .about-right .about-title h1 {
  padding: 0;
}
#about .about-main .about-right .about-us-des {
  color: rgb(102, 100, 100);
}

@media screen and (max-width: 768px) {
  #about {
    height: fit-content;
  }
  #about .about-main {
    flex-direction: column-reverse;
  }
  #about .about-main .about-left {
    width: 100%;
  }
  #about .about-main .about-left img {
    width: 100%;
    height: 400px;
  }
  #about .about-main .about-right {
    width: 95%;
  }
}
nav {
  margin-top: 10px;
  position: fixed;
  padding-top: 20px;
  top: -10px;
  right: 0;
  width: 100%;
  background-color: var(--main-color);
  z-index: 2;
}
nav .nav-main {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .nav-main .logo {
  width: 100px;
  margin-bottom: 5px;
}
nav .nav-main .logo img {
  width: 100%;
  cursor: pointer;
}
nav .nav-main .nav-item {
  margin-left: 70px;
}
nav .nav-main .nav-item li {
  font-weight: 600;
  display: inline;
  margin-right: 20px;
  cursor: pointer;
}
nav .nav-main .nav-item li:hover {
  font-size: 20px;
  transition: 200ms ease-in-out;
  border-bottom: 1.5px solid var(--primary-color);
}
nav .nav-main .search-area form {
  border: 1px solid var(--primary-color);
  width: 85%;
  border-radius: 20px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .nav-main .search-area form input {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 20px;
  padding: 7px;
  width: 80%;
}
nav .nav-main .search-area form button {
  border: none;
  background-color: transparent;
}
nav .nav-main .search-area form button p {
  font-size: 25px;
  margin: 0;
  padding-top: 5px;
  cursor: pointer;
  margin-right: 10px;
}
nav .nav-main .hamburger-bar {
  display: none;
}

@media screen and (max-width: 768px) {
  nav {
    margin-top: 10px;
    padding-top: 9px;
  }
  nav .nav-main .nav-item {
    display: none;
  }
  nav .nav-main .navs-main {
    height: 100vh;
    z-index: 5;
    background-color: var(--main-color);
    margin: 0;
    padding: 0;
    width: 100%;
    position: absolute;
    top: 0%;
    right: 0;
  }
  nav .nav-main .navs-main .nav-items {
    position: absolute;
    top: 15%;
    left: 0%;
  }
  nav .nav-main .navs-main .nav-items ul a {
    color: var(--primary-color);
    text-decoration: none;
  }
  nav .nav-main .navs-main .nav-items ul a li {
    font-size: 40px;
    font-weight: 550;
    display: block;
    margin-bottom: 25px;
  }
  nav .nav-main .navs-main .nav-items ul a li:hover {
    transform: scale(1.1);
  }
  nav .nav-main .navs-main .closebtn {
    position: absolute;
    right: 2%;
    top: 2%;
  }
  nav .nav-main .navs-main .closebtn button {
    margin-right: 10px;
    border: none;
    background-color: transparent;
    font-size: 35px;
  }
  nav .nav-main .search form {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0px;
    margin-top: 5px;
    background-color: #FFFFFF;
    border-radius: 20px;
    border: 1px solid var(--primary-color);
  }
  nav .nav-main .search form input {
    width: 70%;
    border-radius: 20px;
    border: none;
    outline: none;
    padding: 10px 20px;
    font-size: 20px;
  }
  nav .nav-main .search form div {
    margin-right: 20px;
  }
  nav .nav-main .search form div button {
    margin-right: 5px;
    font-size: 20px;
    border: none;
    background-color: transparent;
  }
  nav .nav-main .search-area {
    display: none;
  }
  nav .nav-main .hamburger-bar {
    display: block;
    margin-right: 5px;
  }
  nav .nav-main .hamburger-bar button {
    margin-right: 10px;
    border: none;
    background-color: transparent;
    font-size: 25px;
  }
}

/*# sourceMappingURL=App.css.map */
