.container{
    width:  95%;
    margin: auto;
}
section{
    height: 100vh;
}
body{
    background-color:var(--main-color) ;
    font-family: var(--bold-font);
    
}
.non-container{
    width: 95%;
    margin: auto;
}